<html>
    <head>
        <link rel="stylesheet" href="template.css">
    </head>
    <body>
        <div class="outerTemplate">
            <div class="previewImage">
                <span class="directoryStructure">Directory structure</span>
            </div>
            <div class="content">
                <h1 class="title">Title of the node</h1>
                <hr>
                <p class="details">settings <br>settings<br>settings</p>
                <div class="status">status</div>
            </div>
        </div>
    </body>
</html>