.outerTemplate{
    width: 70px;
    height: 120px;
   border-color: black;
   
    zoom: 150%;
    position: absolute;
    
}

.previewImage{
    width: 100%;
    position: relative;
    height: 45%;
    background-color:#f0ece2;
    border-color: black;
    border-style: solid;
   
   
}
.content{
    width: 100%;
    position: relative;
    height: 65%;
    background-color:#dfd3c3;
    border-color: black;
    border-style: solid;
    
}
.directoryStructure{
   font-size: 30%;
   position: relative;
   top: 85%;
   margin-left: 5px;
}
.title{
    font-size: 60%;
    text-align: center;
}
.details{
    font-size: 40%;
    margin-left: 5px;
}
hr{
    width: 90%;
    margin-top: -8%;
}
.status{
    margin-left: 70%;
    font-size: xx-small;
    margin-top:15px;
}