.chris-controls {
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, .1);

    position: absolute;

    bottom: 0;
    left: 0;

    display: flex;
    justify-content: space-around;

    backdrop-filter: blur(10px);
}

.chris-control-button {
    background: none;
    border: none;
    outline: none;
    color: rgba(50, 100, 255, 1);
    font-size: 48px;
    margin: auto;
    border-radius: 100%;
}

.chris-control-button:hover {
    color: rgba(50, 100, 200, 1);
}

.chris-control-button:active {
    color: rgba(100, 100, 150, 1);
}