html, body {
	margin: 0;
	height: 100%;
	width: 100%;

	font-family: sans-serif;
}

#root {
	height: 100%;
}

.react-flow__attribution {
	display: none;
}

.fake-href {
	text-decoration: none;
}

.fake-ref:hover {
	text-decoration: underline;
}