
.dot {
    position: relative;
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color:blueviolet;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    zoom: 150%;
    
  }

  .dot .data {
    visibility: hidden;
    position: relative;
    background-color: transparent;
    color: black;
    text-align: center;
    font-size: 1.2px;
    zoom: 150%;
    left: 4px;
    top: 3px;
  }
  
  .dot:hover .data {
    visibility: visible;
  }
  