.node
{
	width: fit-content;
	height: fit-content;

	background: #245;
	border-radius: 5px;

	color: white;

	position: absolute;

	min-width: 180px;
}

.node-header
{
	background: #24a;
	border-bottom: 1px solid #222;
	border-radius: 5px 5px 0 0;
	position: relative;
	height: 36px;

	user-select: none;
	-webkit-user-select: none;
	cursor: move;
}

.node-title
{
	margin: auto;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 36px;
	color: white;
}

.node-body
{
	padding: 5px;
	display: flex;
	flex-direction: column;
}

.node-body-titled-value
{
	margin-bottom: 5px;
	/* line-height: 15px; */

	display: flex;
	justify-content: space-between;
}

.node-body-value-title
{
	font-family: Arial, Helvetica, sans-serif;
	/* font-size: 12px; */
	text-overflow: ellipsis;
	vertical-align: middle;
}

.node-body-value-input
{
	/* height: 12px; */
	vertical-align: middle;
	margin-left: 10px;
}

.node-socket
{
	background: white;
	border-radius: 50%;
	border: 1px solid black;

	width: 8px;
	height: 8px;

	position: absolute;
	top: calc(36px / 2 - 8px / 2);

	transition: .02s ease width,
				.02s ease height, 
				.02s ease left, 
				.02s ease right, 
				.02s ease top;

	
	user-select: none;
}

.socket-left
{
	left: calc(-8px / 2);
}

.socket-right
{
	right: calc(-8px / 2);
}

.node-socket:hover
{
	width: 18px;
	height: 18px;

	top: calc(36px / 2 - 18px / 2);
}

.socket-left:hover
{
	left: calc(-18px / 2);
}

.socket-right:hover
{
	right: calc(-18px / 2);
}